<h1><%= current_user.name %>さんの情報</h1>

<table class="table table-bordered text-center">

<tr>
  <th>名前</th>
  <td><%= @user.name %></td>
<tr>
<tr>
  <th>メールアドレス</th>
  <td><%= @user.email %></td>
</tr>
</table>