html{
  height:100%;
}

body{
  height: 100%;
}

.navbar{
  margin-bottom: 30px;
}

.container{
  min-height: 100%;
  padding-bottom: 100px;
}

.container-fluid{
  position: relative;
  padding: 0;
}

.footer{
 height :50px;
 background-color: #233A61;
 position: absolute;
 bottom: 0;
 width:100%;
 text-align: center;
 display: table;
}

.footer p {
  color:white;
  display: table-cell;
  vertical-align: middle;
}