html{
  height:100%;
}

body{
  height: 100%;
  padding-top: 100px;
}

.top-body{
  padding-top: 0;
}


.container{
  min-height: 100%;
  padding-bottom: 100px;
}

.container-fluid{
  position: relative;
  padding: 0;
}

.footer{
 height :50px;
 background-color: #233A61;
 position: absolute;
 bottom: 0;
 width:100%;
 text-align: center;
 display: table;
}

.footer p {
  color:white;
  display: table-cell;
  vertical-align: middle;
}

.top_index{
  text-align: center;
  padding-top:100px;
}

.or{
  font-size: 30px;
}

.announce_task{
  font-size: 80px;
}
